#
# Ansible controlled
#
PACKAGE_NAME=batman-adv
PACKAGE_VERSION={{batman_version}}

DEST_MODULE_LOCATION=/updates/dkms
BUILT_MODULE_NAME=batman-adv
BUILT_MODULE_LOCATION=net/batman-adv

MAKE[0]="'make' KERNELPATH=${kernel_source_dir}"
CLEAN="'make' clean"

AUTOINSTALL="yes"
